html {
    scroll-behavior: smooth;
}

div {
    background: lightblue;
    width: 60%;
    margin: auto;
    height: 100vh;
    text-align: center;
}

/* Changed background colour or text and text colour when highlighted */
p::selection {
    background-color: blueviolet;
    color: white;
}

/* Make first letter of each P different */
p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}