html {
    scroll-behavior: smooth;
    filter: invert(1) hue-rotate(180deg);
    font-size: 62.5%;

}

div {
    background: lightblue;
    width: 60%;
    margin: auto;
    height: 100vh;
    text-align: center;
}

p {
    font-size: 2rem;
}

/* Changed background colour or text and text colour when highlighted */
p::selection {
    background-color: blueviolet;
    color: white;
}

/* Make first letter of each P different */
p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    font-size: 5rem;
    color: darkgreen;
}

h1 {
    font-size: 10rem;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}