html {
    scroll-behavior: smooth;
    filter: invert(1) hue-rotate(180deg);
    font-size: 62.5%;

}

div {
    background: lightblue;
    width: 60%;
    margin: auto;
    height: 100vh;
    text-align: center;
}

p {
    font-size: 2rem;
}

/* Changed background colour or text and text colour when highlighted */
p::selection {
    background-color: blueviolet;
    color: white;
}

/* Make first letter of each P different */
p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

a {
    font-size: 5rem;
    color: darkgreen;
}

